In [1]:
import pandas as pd
import numpy as np

In [67]:
df = pd.read_csv("marketing_campaign_data_messy.csv")
df.head()

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA

In [154]:
df[df.campaign_id == 'CMP-00047']

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,start_month,start_year,start_day
46,CMP-00047,Q4_BlackFriday_CMP-00047,2023-04-12,2023-04-19,Google Ads,9792,136,NaN,13.0,True,GO,BlackFriday,4.0,2023.0,12.0

In [4]:
df.info()
#we can see there are 2020 records but few columns has null values like Channel, conversions and clicks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Campaign_ID   2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   object
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   object
 10  Clicks         40 non-null     float64
 11  Campaign_Tag   2020 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 189.5+ KB

In [5]:
df.describe()
#we can see statistics about different columns in the data

        Impressions      Clicks   Conversions        Clicks
count   2020.000000  2020.000000  1820.000000     40.000000
mean   49839.896040  1500.744059   186.085714  54856.200000
std    28579.637473  1084.765654   160.129172  30552.773369
min     1055.000000    11.000000     0.000000   2508.000000
25%    25033.500000   650.750000    68.000000  30164.750000
50%    50097.500000  1245.000000   142.000000  57707.500000
75%    74784.250000  2185.250000   257.000000  81497.500000
max    99875.000000  4812.000000   943.000000  99483.000000

In [6]:
#lets check the columns name to see if we want to correct that...make sure no spaces in column names
df.columns.to_list()
# we can see campaign_id has whitespaces and all names are capitalize

[' Campaign_ID ',
 'Campaign_Name',
 'Start_Date',
 'End_Date',
 'Channel',
 'Impressions',
 'Clicks ',
 'Spend',
 'Conversions',
 'Active',
 'Clicks',
 'Campaign_Tag']

In [68]:
#replace the space in column name
df.columns = df.columns.str.strip().str.replace(" ","_")
#we can  use str.strip() to replace the whitespace before and after name and replace() to change whitespace in between names

In [9]:
df.columns.to_list()

['Campaign_ID',
 'Campaign_Name',
 'Start_Date',
 'End_Date',
 'Channel',
 'Impressions',
 'Clicks',
 'Spend',
 'Conversions',
 'Active',
 'Clicks',
 'Campaign_Tag']

In [69]:
#make columns names in lower space
df = df.rename(columns = str.lower)
#aalternate use df.columns = df.columns.str.lower()

In [14]:
df.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'impressions', 'clicks', 'spend', 'conversions', 'active', 'clicks',
       'campaign_tag'],
      dtype='object')

In [23]:
#check data where it has $ or . or , in spend column as it makes it a string rather than number
df.loc[df.spend.astype(str).str.contains(r'\$.')].head(3)

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
21,CMP-00022,Q2_BlackFriday_CMP-00022,2023-12-26 00:00:00,2024-01-02,Google Ads,54707,1735,$2428.4,NaN,Y,NaN,GO
22,CMP-00023,Q4_Winter_CMP-00023,2023-11-08 00:00:00,2023-11-24,Google Ads,86305,2637,$4726.22,216.0,0,86385.0,GO

In [70]:
df['spend'] = df.spend.astype(str).str.replace(r'[^\d.-]','',regex=True).head(3)
df.loc[df.spend.astype(str).str.contains(r'\d.')].head(3)

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM

In [71]:
df.spend =pd.to_numeric(df.spend)
df.dtypes

campaign_id       object
campaign_name     object
start_date        object
end_date          object
channel           object
impressions        int64
clicks             int64
spend            float64
conversions      float64
active            object
clicks           float64
campaign_tag      object
dtype: object

In [46]:
#10 uniques values for now,it ignores NA values, use dropna=False to count NA
print(df.channel.nunique(dropna=False))
print(df.channel.unique()) #values like TikTok and Tik_Tok are same also Facebook and Facebok..lets fix this

11
['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']

In [72]:
#fix channel values
channel_replace = {
    'Tik_Tok':'TikTok',
    'Facebok' :'Facebook',
    'Insta_gram':'Instagram',
    'E-mail':'Email',
    'Gogle':'Google Ads',
    'N/A':np.nan
}
df['channel'] = df.channel.replace(channel_replace) 
print(df.channel.unique())

['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' nan]

In [73]:
#fix active values and make it boolean
print(df.active.unique())
active_fix = {'Y':True ,
              '0':False ,
              0:False,
              'No':False ,
              'Yes':True ,
              'N':False,
              '1': True,
              1: True
}
df['active'] = df.active.replace(active_fix).fillna(False).astype(bool)
print(df.active.unique())

['Y' '0' 'No' 'True' 'Yes' '1' 'False']
[ True False]

In [82]:
#fix date columns and make it datetime
print(df.start_date.head(5))
print(df.end_date.head(5))
#print(df.dtypes['start_date'])

df['start_date'] = pd.to_datetime(df.start_date,errors= 'coerce')
df['end_date'] = pd.to_datetime(df.end_date,dayfirst=True,errors= 'coerce')
print(df.start_date.head(5))
print(df.end_date.head(5))

0    2023-11-24 00:00:00
1    2023-05-06 00:00:00
2    2023-12-13 00:00:00
3             2023-10-30
4    2023-04-22 00:00:00
Name: start_date, dtype: object
0    2023-12-13
1    2023-05-12
2    2023-12-20
3    2023-11-03
4    2023-04-23
Name: end_date, dtype: object
0   2023-11-24
1   2023-05-06
2   2023-12-13
3          NaT
4   2023-04-22
Name: start_date, dtype: datetime64[ns]
0   2023-12-13
1   2023-05-12
2   2023-12-20
3   2023-11-03
4   2023-04-23
Name: end_date, dtype: datetime64[ns]

/var/folders/h4/h9_1l3310kq59956t3c60zw80000gn/T/ipykernel_2096/689849821.py:7: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['end_date'] = pd.to_datetime(df.end_date,dayfirst=True,errors= 'coerce')

In [78]:
#delete duplicate columns
df = df.loc[:,~df.columns.duplicated()].copy()
df.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,102.82,20.0,True,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,False,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,False,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,NaN,135.0,True,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,NaN,30.0,True,FA

In [79]:
#checking data integrity in clicks vs impressions as clicks should be smaller than impressions
df[df.clicks > df.impressions]

Empty DataFrame
Columns: [campaign_id, campaign_name, start_date, end_date, channel, impressions, clicks, spend, conversions, active, campaign_tag]
Index: []

In [93]:
#checking data integrity in dates as start_date <= end_date
wrongddate = df.start_date > df.end_date
df.loc[wrongddate,'end_date'] = df['start_date'] +pd.Timedelta(days=30)
df.loc[wrongddate]

Empty DataFrame
Columns: [campaign_id, campaign_name, start_date, end_date, channel, impressions, clicks, spend, conversions, active, campaign_tag]
Index: []

In [94]:
wrongddate

0       False
1       False
2       False
3       False
4       False
        ...
2015    False
2016    False
2017    False
2018    False
2019    False
Length: 2020, dtype: bool

In [97]:
df[df.start_date > df.end_date]

Empty DataFrame
Columns: [campaign_id, campaign_name, start_date, end_date, channel, impressions, clicks, spend, conversions, active, campaign_tag]
Index: []

In [104]:
q1 = df.spend.quantile(0.25)
q3 = df.spend.quantile(0.75)
iqr = q3-q1
ul = q3 + (3*iqr)
ll = q1 - (3*iqr)
uoutlier = df.spend > ul
loutlier = df.spend < ll
df.loc[uoutlier,'spend'] = ul
df.loc[df.spend > 2661]

Empty DataFrame
Columns: [campaign_id, campaign_name, start_date, end_date, channel, impressions, clicks, spend, conversions, active, campaign_tag]
Index: []

In [100]:
uoutlier.value_counts()

spend
False    2020
Name: count, dtype: int64

In [101]:
ul

2661.6949999999997

In [111]:
df.spend.max()

1323.39

In [112]:
df.shape

(2020, 11)

In [120]:
df['season'] = df.campaign_name.str.extract(r'Q\d_([^_]+)_')
df[['season','campaign_name' ]].head()

        season             campaign_name
0       Summer       Q4_Summer_CMP-00001
1       Launch       Q1_Launch_CMP-00002
2       Winter       Q3_Winter_CMP-00003
3  BlackFriday  Q1_BlackFriday_CMP-00004
4       Winter       Q2_Winter_CMP-00005

In [122]:
df['start_month'] = df.start_date.dt.month
df['start_year'] = df.start_date.dt.year
df['start_day'] = df.start_date.dt.day
df.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,start_month,start_year,start_day
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,TikTok,16795,197,102.82,20.0,True,TI,Summer,11.0,2023.0,24.0
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebook,1860,30,24.33,1.0,False,FA,Launch,5.0,2023.0,6.0
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,Email,77820,843,1323.39,51.0,False,EM,Winter,12.0,2023.0,13.0
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,2023-11-03,TikTok,55886,2019,NaN,135.0,True,TI,BlackFriday,NaN,NaN,NaN
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebook,7265,169,NaN,30.0,True,FA,Winter,4.0,2023.0,22.0

In [132]:
a = df.channel.value_counts().reset_index(name= 'count').sort_values('count',ascending = True)
a

      channel  count
4   Instagram    359
3  Google Ads    360
2       Email    380
1    Facebook    405
0      TikTok    415

In [130]:
df.channel.value_counts().to_frame(name= 'count')

            count
channel
TikTok        415
Facebook      405
Email         380
Google Ads    360
Instagram     359

In [144]:
df.groupby('channel').agg(count = ('channel','size')).reset_index().sort_values('count',ascending = False)

      channel  count
4      TikTok    415
1    Facebook    405
0       Email    380
2  Google Ads    360
3   Instagram    359

In [151]:
df_firstm = df.query('start_month <=6 & start_year == 2023')
df_firstm.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,start_month,start_year,start_day
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebook,1860,30,24.33,1.0,False,FA,Launch,5.0,2023.0,6.0
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebook,7265,169,NaN,30.0,True,FA,Winter,4.0,2023.0,22.0
8,CMP-00009,Q4_BlackFriday_CMP-00009,2023-03-23,2023-04-01,Google Ads,45131,1179,NaN,104.0,True,GO,BlackFriday,3.0,2023.0,23.0
9,CMP-00010,Q2_Winter_CMP-00010,2023-03-21,2023-04-01,Email,61263,1153,NaN,NaN,False,EM,Winter,3.0,2023.0,21.0
11,CMP-00012,Q4_Launch_CMP-00012,2023-02-19,2023-02-20,Google Ads,42090,763,NaN,109.0,True,GO,Launch,2.0,2023.0,19.0

In [152]:
df_firstm.groupby('season').agg(total_spend = ('spend','sum')).reset_index()

        season  total_spend
0  BlackFriday         0.00
1       Launch        24.33
2       Summer         0.00
3       Winter         0.00

In [153]:
df_firstm[df_firstm.season == 'BlackFriday']

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season,start_month,start_year,start_day
8,CMP-00009,Q4_BlackFriday_CMP-00009,2023-03-23,2023-04-01,Google Ads,45131,1179,NaN,104.0,True,GO,BlackFriday,3.0,2023.0,23.0
17,CMP-00018,Q1_BlackFriday_CMP-00018,2023-04-27,2023-05-25,Instagram,65925,2317,NaN,389.0,True,IN,BlackFriday,4.0,2023.0,27.0
39,CMP-00040,Q4_BlackFriday_CMP-00040,2023-01-06,2023-01-26,Email,70092,2388,NaN,424.0,False,EM,BlackFriday,1.0,2023.0,6.0
46,CMP-00047,Q4_BlackFriday_CMP-00047,2023-04-12,2023-04-19,Google Ads,9792,136,NaN,13.0,True,GO,BlackFriday,4.0,2023.0,12.0
78,CMP-00079,Q1_BlackFriday_CMP-00079,2023-05-02,2023-05-14,Google Ads,92387,3530,NaN,347.0,True,GO,BlackFriday,5.0,2023.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,CMP-01947,Q4_BlackFriday_CMP-01947,2023-05-02,2023-05-07,Instagram,76897,2199,NaN,133.0,True,IN,BlackFriday,5.0,2023.0,2.0
1958,CMP-01959,Q4_BlackFriday_CMP-01959,2023-02-14,2023-03-15,TikTok,84976,3051,NaN,577.0,True,TI,BlackFriday,2.0,2023.0,14.0
1962,CMP-01963,Q2_BlackFriday_CMP-01963,2023-04-13,2023-04-14,NaN,91827,1072,NaN,208.0,True,XX,BlackFriday,4.0,2023.0,13.0
1983,CMP-01984,Q4_BlackFriday_CMP-01984,2023-04-04,2023-05-02,Google Ads,37877,908,NaN,150.0,True,GO,BlackFriday,4.0,2023.0,4.0
1995,CMP-01996,Q2_BlackFriday_CMP-01996,2023-06-25,2023-07-12,Google Ads,71316,2276,NaN,184.0,True,GO,BlackFriday,6.0,2023.0,25.0

In [157]:
DF = pd.read_csv("marketing_campaign_data_messy.csv")
#DF.head()
DF[DF.Campaign_Name == 'Q4_BlackFriday_CMP-00040']

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
39,CMP-00040,Q4_BlackFriday_CMP-00040,2023-01-06 00:00:00,2023-01-26,Email,70092,2388,4152.44,424.0,0,NaN,EM

In [161]:
DF['Spend'] = DF.Spend.astype(str).str.replace(r'[^\d.-]','',regex=True)
DF['Spend'] = pd.to_numeric(DF['Spend'])
DF['Spend']

0        102.82
1         24.33
2       1323.39
3       2180.38
4        252.44
         ...
2015     503.95
2016    1641.00
2017     883.82
2018    4198.50
2019    1315.59
Name: Spend, Length: 2020, dtype: float64

In [162]:
DF[DF.Campaign_Name == 'Q4_BlackFriday_CMP-00040']

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
39,CMP-00040,Q4_BlackFriday_CMP-00040,2023-01-06 00:00:00,2023-01-26,Email,70092,2388,4152.44,424.0,0,NaN,EM

In [164]:
DF.columns = DF.columns.str.replace( " ","")

In [166]:
DF.columns = DF.columns.str.lower()
DF.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA